.header-style-row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;

}

.logo-spin {
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.logo-swing {
    animation: swingAnimation 4s ease-in-out infinite alternate;
}

@keyframes swingAnimation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(30deg);
    }

    100% {
        transform: rotate(0deg);
    }
}